<p class="mt-3">Войдите для работы!</p>
<div class="alert alert-{{message.type}}"
  *ngIf="message.text">{{message.text}}</div>
<form [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="form-row"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label>
      <span>Email</span>
      <input type="text"
        placeholder="enter your Email"
        id="email"
        formControlName="email"
      >
      <span class="form-text-help"
            *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email')['errors']['required']">Email не может быть пустым.</span>
        <span *ngIf="form.get('email')['errors']['email']">Введите корректный Email.</span>
      </span>
    </label>
  </div>
  <div class="form-row"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label>
      <span>Password</span>
      <input type="password"
        placeholder="enter your Password"
        id="password"
        formControlName="password"
      >
    </label>
    <span class="form-text-help"
          *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым.</span>
      <span *ngIf="form.get('password')['errors']['minlength']">Пароль больше {{form.get('password')['errors']['minlength']['requiredLength']}}.
        Сейчас {{form.get('password')['errors']['minlength']['actualLength']}}.
      </span>
    </span>
  </div>
  <div class="form-row">
    <button class="btn"
      [disabled]="form.invalid"
    >login</button>
  </div>
  <div class="form-row">
    <span>Нет аккунта ?</span>
    <div class="form-row__action" routerLink="/registre">Зарегистрируйся!</div>
  </div>
</form>
