form {
  display: flex;
  flex-direction: column;
  span {
    display: inline-block;
    margin-bottom: 5px;
  }
  input {
    display: block;
    padding: 0.5rem;
  }
  button {
    padding: 1rem;
  }
}
.form-row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
  &__action {
    margin-left: 15px;
  }
  label {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-text-help {
  color: red;
  font-size: 12px;
}

.alert {
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50, 0);
  border: 1px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1rem;
  z-index: 1;
}
