<p class="mt-3">Регистрация для получения доступа</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row"
       [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label>
      <span>Email</span>
      <input type="text" placeholder="enter your Email" id="email"
      formControlName="email">
    </label>
    <span class="form-text-help"
        *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email')['errors']['required']">Email не может быть пустым.</span>
      <span *ngIf="form.get('email')['errors']['email']">Введите корректный Email.</span>
      <span *ngIf="form.get('email')['errors']['forbiddenEmail']">Email уже занят.</span>
    </span>
  </div>
  <div class="form-row"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label>
      <span>Password</span>
      <input type="text" placeholder="enter your Password" id="password"
      formControlName="password">
    </label>
    <span class="form-text-help"
          *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым.</span>
      <span *ngIf="form.get('password')['errors']['minlength']">Пароль должен быть больше {{ form.get('password')['errors']['minlength']['requiredLength']}} символов.
        Сейчас {{form.get('password')['errors']['minlength']['actualLength']}}.
      </span>
    </span>
  </div>
  <div class="form-row"
       [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
    <label>
      <span>Name</span>
      <input type="text" placeholder="enter your Name" id="name"
      formControlName="name">
    </label>
    <span class="form-text-help"
          *ngIf="form.get('name').invalid && form.get('name').touched">Name не может быть пустым.
    </span>
  </div>
  <div class="form-row"
       [ngClass]="{'has-error': form.get('skills').invalid && form.get('skills').touched}">
    <label>
      <span>Skills / Position</span>
      <input type="text" placeholder="enter your Skills" id="skills"
             formControlName="skills">
    </label>
    <span class="form-text-help"
          *ngIf="form.get('skills').invalid && form.get('skills').touched">Skills не может быть пустой.
    </span>
  </div>
  <div class="form-row">
    <button
      [disabled]="form.invalid"
      type="submit"
      class="btn">registre</button>
  </div>

  <div class="form-row">
    <span>Есть аккаунт?</span> <br>
    <div class="form-row__action" routerLink="/login">Войдите!</div>
  </div>
</form>
