<div class="system-wrapper">
  <div class="system-wrapper__name">
    <app-header></app-header>
  </div>
  <h1>Users:</h1>
  <div class="system-users">
    <app-all-users></app-all-users>
  </div>
</div>
